.App {
  text-align: center;
}

body {
  /* background-image: url('https://lh3.googleusercontent.com/YGzDPqUsCX7KMsnB1gY7ONYMdmTN3DagWZy0OLlXVNq3SJAqf2aluvx3SWa_E0Z8zN--2pnwg_z-sHDui_kGqfOSCujl90rmlzOLs4LiFq48vxKVIR3SSg9J8uXUAiUPP4V5Q1YzHy1ZKQuv34-DLyw9zM4cn067lmSnmPrkFB7KUh6tSYuLfsjsB_Q1HnhqzaVICsfQOPNE3EMN7LiHCGXO4NCor36FcQ9Bj46jgb5-JDD9ByhOmVVJPosG5YNc7EOTN3hkEIuFtqA-kVincCS-fNWa6PTkOr98XN6q6rxhmKYqd4L3N3uL2tg-WxuVqf2MTy9uJlj9s7D8csaEKuiB5xRhXSkd_Ia64geWRPz4csAc4l_7SxOOzciyXUQRwv7FEos2xVYLv2m43Lc0zPeX6vUPXXWuikRlTnYKpF7Rke-p9AZfMBOpV7N2ktOyEwBWTlHzpO_8YCufNdD4weDkUT3tcEH8OFl0mEFFftXl-QDKNuW3igkyLeNDIiVNqR8l6xQeQZ2m5raUwRnRQG-YOkRVTu5SCZgcjksve6uPE7hLNi3ROy_TMQdE4yLd4TEGSuw20v8Xn8E7ypCiLkiid_n8QuNW5hVqGAsjhkJdHtjgjL1Lyk4AF6shE7TurLiMEA2OwPaQkpXietUp2YHeuKzQjGd0XaJB2QO0ixutJEQhgXvt8oQeK22qosHggQtOt4MCbJbT7poh1TH7z5Xz0g=w2590-h1456-no');
  background-repeat: no-repeat;
  background-size: cover; */
  background: #c1f6f8;

}


.navbar-default {
    background-color: #1875D0 ;
    border-color: #E7E7E7;
    height: 50px;
}
/* Title */
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}


.navbar button {
  margin-left: 10px;
}

/* body {
  background-image: url('https://lh3.googleusercontent.com/YGzDPqUsCX7KMsnB1gY7ONYMdmTN3DagWZy0OLlXVNq3SJAqf2aluvx3SWa_E0Z8zN--2pnwg_z-sHDui_kGqfOSCujl90rmlzOLs4LiFq48vxKVIR3SSg9J8uXUAiUPP4V5Q1YzHy1ZKQuv34-DLyw9zM4cn067lmSnmPrkFB7KUh6tSYuLfsjsB_Q1HnhqzaVICsfQOPNE3EMN7LiHCGXO4NCor36FcQ9Bj46jgb5-JDD9ByhOmVVJPosG5YNc7EOTN3hkEIuFtqA-kVincCS-fNWa6PTkOr98XN6q6rxhmKYqd4L3N3uL2tg-WxuVqf2MTy9uJlj9s7D8csaEKuiB5xRhXSkd_Ia64geWRPz4csAc4l_7SxOOzciyXUQRwv7FEos2xVYLv2m43Lc0zPeX6vUPXXWuikRlTnYKpF7Rke-p9AZfMBOpV7N2ktOyEwBWTlHzpO_8YCufNdD4weDkUT3tcEH8OFl0mEFFftXl-QDKNuW3igkyLeNDIiVNqR8l6xQeQZ2m5raUwRnRQG-YOkRVTu5SCZgcjksve6uPE7hLNi3ROy_TMQdE4yLd4TEGSuw20v8Xn8E7ypCiLkiid_n8QuNW5hVqGAsjhkJdHtjgjL1Lyk4AF6shE7TurLiMEA2OwPaQkpXietUp2YHeuKzQjGd0XaJB2QO0ixutJEQhgXvt8oQeK22qosHggQtOt4MCbJbT7poh1TH7z5Xz0g=w2590-h1456-no');
} */

.create-task {
  margin-top: 250px;
}

.current-task {

  margin-top: 250px;
}

.signup {
  margin-top: 250px;
}

.login {
  margin-top: 250px;
}







/* Start card CSS */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  /* color: #3C4447; */
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  /* color: #3C4447; */
}

/*My hum... body.. yeah.. */
/* body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;
} */

/* The card */
.card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover; */
/*object-position: center; */
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

.activity-card h1 {
  padding-top: 15px;
  font-size: 3rem;
  /* color: #4B4B4B; */
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.author > img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.activity-card h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: center;
  font-size: 0.9rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

.activity-card p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release */
.activity-card h5 {
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #C3C3C3;
}

.activity-card h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
ul {
  margin-left: 250px;
}







/* Start card CSS */

@import url(https://fonts.googleapis.com/css?family=Roboto);
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
}

/*My hum... body.. yeah.. */
/* body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;
} */

/* The card */
.card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover; */
/*object-position: center; */
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

.activity-card h1 {
  padding-top: 15px;
  font-size: 3rem;
  color: #4B4B4B;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.author > img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.activity-card h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: center;
  font-size: 0.9rem;
}

.experience-card h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: center;
  font-size: 0.9rem;
}

.experience-card a {
  padding-top: 8px;
  margin-right: 6px;
  text-align: center;
  font-size: 0.9rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

.activity-card p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release */
.activity-card h5 {
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #C3C3C3;
}

.activity-card h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
ul {
  margin-left: 250px;
}

li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */

.fab {
  position: absolute;
  right: 190px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.fab4 {
  position: absolute;
  right: 100px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.fab2 {
  position: absolute;
  left: 190px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.5);
}

.fab3 {
  position: absolute;
  left: 100px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.5);
}

/* End card CSS */








/* Start History Card CSS */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}


.history-home {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.history-cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}
div.history-card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
}
div.history-card img {
  width: 300px;
  height: 300px;
}
div.card-title {
  width: 300px;
  height: 120px;
}

div.history-card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.history-card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.history-card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.history-card div.card-title a.toggle-info span.left {
  right: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
div.history-card div.card-title a.toggle-info span.right {
  left: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
div.history-card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.history-card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.history-card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.history-card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.history-card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
div.history-card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.history-card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.history-cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}
.no-touch div.history-cards.showing div.history-card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
div.history-card.show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
div.history-card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.history-card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.history-card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.history-card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.history-card.show div.card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
div.history-card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.history-card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: transparent;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* End History Card CSS */

/* login and signup css */

.wrapper {
 margin-top: 150px;
 margin-bottom: 80px;
 background-color: transparent;
}

.form-signin {
 max-width: 380px;
 padding: 15px 35px 45px;
 margin: 0 auto;
 background-color: #F7F7F7;
 border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
 margin-bottom: 30px;
}
.form-signin .checkbox {
 font-weight: normal;
}
.form-signin .form-control {
 position: relative;
 font-size: 16px;
 height: auto;
 padding: 10px;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.form-signin .form-control:focus {
 z-index: 2;
}
.form-signin input[type="email"] {
 margin-bottom: -1px;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
 margin-bottom: 20px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}
